<div class="container">
	<h1>Все заведения</h1>
	<div class="row">





		<% @places.each do |place| %>

		<div class="card" style="width: 16rem;">

			<% if place.image.attached?%>
			<%= link_to(image_tag(place.image, size: 250), place) %>
			<% end %>

			<div class="card-body">
				<h5 class="card-title"><%= place.name %></h5>
				<p class="card-text"><%= place.desc%></p>
			</div>
		</div>

		<% end %>
	</div>
</div> 