<div class="container">
	<h1><%= @place.name %></h1>
	<% if @place.image.attached?%>
			<%= image_tag @place.image, size: 300 %>
			<% end %>
			<p><%= @place.desc %></p>
	<% @place.dishes.each do |dish|%>
	
	<h5><%= dish.name %></h5>
		<% if dish.picture.attached?%>
		<%= image_tag dish.picture, size: 200 %>
		<% end %>
	<p><%= dish.desc%></p>
	<p><%= dish.price%> тг.</p>
	<% end %>
	<br>
</div>